#error{
color:red;
font-size: medium;
}
h3{
 color:brown;
 font-weight: bold; 
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    left:270px;
    text-align: center;
    background-color: lightgoldenrodyellow;
    border: 1px solid #ddd;
}
.col-xs-3{
    margin-left:190px;
}
.control-label{
    color:brown;
    font-weight: bold; 
}