body {
	font-family: 'verdana';
	padding-top: 62px;
}

body, html {
	height: 100%;
}

.content {
	max-width: 500px;
	margin: auto;
	background: white;
	padding: 10px;
}

h1 {
	font-size: 16px;
	color: #333;

}



button {
	width: 30px;
	height: 20px;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	background-color: skyblue;
	color:darkblue;
	padding-left: 4px;
}

.likes {
	padding-left:2px;
	border: none;
	border-radius: 2%;
	width: 47px;
	color: darkgreen;
}

.unlikes {
	padding-left:2px;
	border: none;
	border-radius: 2%;
	width: 47px;
	color: red;
}
.Play{
	color:blue;
}

.Pause {
	background-position: -19px 0;
	color:blue;
}

.Stop {
	background-position: -19px 0;
	color:blue;
}

.volume-plus {
	background-position: -19px 0;
	color:blue;
}

.volume-minus {
	background-position: -19px 0;
	color:blue;
}

.Mute {
	background-position: -19px 0;
	color:blue;
}

.Replay {
	background-position: -19px 0;
	color:blue;
}

progress {
	color: #066193e8;
	font-size: 12px;
	width: 390px;
	height: 20px;
	border: none;
	margin-right: 5px;
	background: #066193e8;
}

progress::-moz-YouTube-player-progress {
		background: #066193e8;
}



b #play_Text {
    color: red;
    width: 1000px;
}


@media screen and (max-width: 34em) {
	.row-offcanvas-left
  .sidebar-offcanvas {
		left: -45%;
	}
	.row-offcanvas-left.active {
		left: 45%;
	}
	.sidebar-offcanvas {
		width: 45%;
	}
}

@media ( max-width :34em) {
	.navbar .navbar-brand {
		float: none;
		display: block;
	}
	.navbar .navbar-nav>.nav-item {
		/* float: none; */
		margin-left: .1rem;
	}
	.navbar .navbar-nav {
		float: none !important;
	}
}

.card {
	overflow: hidden;
}

.card-body .rotate {
	z-index: 8;
	float: right;
	height: 100%;
}

.card-body .rotate i {
	color: rgba(20, 20, 20, 0.15);
	position: absolute;
	left: 0;
	left: auto;
	right: -10px;
	bottom: 0;
	display: block;
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

@media screen and (max-width: 48em) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}
	.row-offcanvas-left
  .sidebar-offcanvas {
		left: -33%;
	}
	.row-offcanvas-left.active {
		left: 33%;
	}
	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 33%;
		height: 100%;
	}
}

.container-fluid {
	margin: 30px 30px;
	width: 100%;
}

footer {
	background-color: #f2f2f2;
	padding: 25px;
}

.navbar {
	color: green;
	background-color: #f2f2f2;
	
}
#play-item{

	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	background-color: blue;
	color: red;
	padding-left: 4px;
}