<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <h1 class="navbar-brand">Angular YouTube Player</h1>
  <a routerLink="videoplayer" class="nav-link" routerLinkActive="active"> YouTubePlayer Component</a>
  <a routerLink="addvideoplayer" class="nav-link" routerLinkActive="active"> Add YouTubePlayer Component </a>
</nav>
<router-outlet></router-outlet>
<br>

<span style="display:none" class="nowrap margin-left-m margin-right-m">
  <label for="YouTube-video-id">videoId</label>:
  <input id="YouTube-video-id" #name type="text" value="yG0oBPtyNb0" size="12" pattern="[_\-0-9A-Za-z]{11}"
    (change)="youTubePlayerChangeVideoId()">
  <input id="YouTube-video-idnum" #id type="text" value="fill" size="12" pattern="[_\-0-9A-Za-z]{11}">
</span>
<footer class="footersec">
  <p>UXM Assignment for YouTube Player Footer</p>
</footer>